{% extends "base1.html" %}
{% block content %}
    <style>
        #loading {
            height: 300px;
            width: 100%;
            background-image: url(../static/new/images/loading.gif);
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div style="height:10px"></div>
    <div class="portlet-body">
        <div class="col-md-2" style="padding-left: 20px;">
            <select name="utils_manage" id="utils_manage" class="form-control">
                {% for um in utils_manage %}
                    <option value="{{ um.id }}">{{ um.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="portlet light portlet-fit">
            <div class="portlet-body">
                <div class="col-md-12" style="margin-bottom: 30px">
                    <div style="text-align:center">
                        <div id="disk_space_container"  class="chart" >

                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn default green-stripe" style="float: right; width: 60px" id="weekly_total_space" title="图表" data-toggle="modal" data-target="#static"><i class="fa fa-bar-chart"></i></a>
                    </div>
                </div>
                <div class="table-scrollable" style="overflow-x:scroll;">
                    <table class="table table-hover" style="min-width:1200px;" id="disk_space">
                        <thead>
                        <tr>
                            <th></th>
                            <th> MA</th>
                            <th> 库</th>
                            <th> 装载路径</th>
                            <th> 可用容量</th>
                            <th> 保留空间</th>
                            <th> 总容量</th>
                            <th> 最新备份时间</th>
                            <th> 状态</th>
                            <th> 操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div id="loading" hidden></div>
                </div>
            </div>
        </div>
    </div>
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-body">
                    <div id="disk_space_hc" style="width: 860px"></div>
                </div>
                <div class="form-actions">
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- highcharts-->
    <script src="/static/assets/global/plugins/highcharts/js/highcharts.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/highcharts/js/highcharts-3d.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/highcharts/js/highcharts-more.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
{% endblock %}