{% extends "base1.html" %}
{% block content %}
<style>
    #loading {
        height: 300px;
        width: 100%;
        background-image: url(../static/upload/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

    #loading1, #loading3, #loading4 {
        height: 83px;
        width: 100%;
        background-image: url(../static/upload/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

    #loading2 {
        height: 200px;
        width: 100%;
        background-image: url(../static/upload/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

</style>

<div style="height:10px"></div>

<div id="showdata" class="portlet-body">
    <div class="row">
        <div id="tree_kvm_manage" class="col-md-4 tree-demo"></div>

        <div class="col-md-8">
            <div id="loading2" class="portlet-body" hidden></div>
            <div id="form_div" class="portlet light bordered" hidden>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <label id="title" class="caption-subject bold uppercase">{{ table.name }}</label>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                        <input hidden type="text"  id="id" name="id" value="">
                        <input hidden type="text"  id="pid" name="pid" value="">
                        <input hidden type="text"  id="kvm_id" name="kvm_id" value="">
                        <input hidden type="text"  id="utils_id" name="utils_id" value="">
                        <div id="node" hidden>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">内存空间使用情况</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">CPU使用率</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">磁盘空间使用情况</span>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px;" id="memory_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                            data-fgcolor="#3598DC" data-min="0"
                                            data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>内存空间</h4>
                                        <h4 class="">0 GB/0 GB </h4>
                                    </div>

                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px" id="cpu_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                           data-fgcolor="#3598DC" data-min="0"
                                           data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>CPU使用率</h4>
                                        <h4 class="">0 %/100 %</h4>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px;" id="disk_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                            data-fgcolor="#3598DC" data-min="0"
                                            data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>磁盘空间</h4>
                                        <h4 class="">0 GB/0 GB </h4>

                                    </div>
                                </div>

                            </div>
                            <div class="form-group" style="margin-bottom:0;">
                                <label class="col-md-2 control-label" for="form_control_1"
                                       style="vertical-align: inherit;font-weight:bold;">基础信息
                                </label>
                                <div class="col-md-9"><hr></div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                    <label class="col-md-2 control-label">主机名</label>
                                    <div class="col-md-9">
                                        <input readonly id="hostname" type="text" name="hostname" class="form-control " placeholder="">
                                        <div class="form-control-focus"></div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">IP</label>
                                <div class="col-md-9">
                                    <input readonly id="host_ip" type="text" name="host_ip" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">CPU</label>
                                <div class="col-md-9">
                                    <input readonly id="cpu" type="text" name="cpu" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">操作系统</label>
                                <div class="col-md-9">
                                    <input readonly id="os" type="text" name="os" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group " style="text-align:center">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-9">
                                    <button type="button" id="create_kvm_div" name="create_kvm_div" class="btn green">
                                        新建虚拟机
                                    </button>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div id="kvm_info" hidden>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">内存空间使用情况</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">CPU使用率</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="caption-subject bold uppercase font-green" style="font-size:16px">磁盘空间使用情况</span>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px;" id="kvm_memory_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                            data-fgcolor="#3598DC" data-min="0"
                                            data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>内存空间</h4>
                                        <h4 class="">0 GB/0 GB </h4>
                                    </div>

                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px" id="kvm_cpu_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                           data-fgcolor="#3598DC" data-min="0"
                                           data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>CPU使用率</h4>
                                        <h4 class="">0 %/100 %</h4>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center" style="padding-top: 20px;" id="kvm_disk_space">
                                    <div style="float:left;padding-left: 20px">
                                        <input readonly class="knob" data-width="100"
                                            data-fgcolor="#3598DC" data-min="0"
                                            data-displayprevious=true value="100">
                                    </div>
                                    <div style="float:left;padding-left: 20px;padding-top: 20px">
                                        <h4>磁盘空间</h4>
                                        <h4 class="">0 GB/0 GB </h4>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0;">
                                <label class="col-md-2 control-label" for="form_control_1"
                                       style="vertical-align: inherit;font-weight:bold;">基础信息
                                </label>
                                <div class="col-md-9"><hr></div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">虚拟机</label>
                                <div class="col-md-9">
                                    <input readonly type="text" class="form-control" id="kvm_name" name="kvm_name"  value="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-2 control-label" for="form_control_1">状态</label>
                                <div class="col-md-9">
                                    <input readonly type="text" class="form-control" id="kvm_state" name="kvm_state"  value="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-2 control-label" for="form_control_1">主机名</label>
                                <div class="col-md-9">
                                    <input readonly type="text" class="form-control" id="kvm_hostname" name="kvm_hostname"  value="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-2 control-label" for="form_control_1">IP</label>
                                <div class="col-md-9">
                                    <input readonly type="text" class="form-control" id="kvm_ip" name="kvm_ip"  value="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                    <label class="col-md-2 control-label">CPU</label>
                                    <div class="col-md-9">
                                        <input readonly id="kvm_cpu" type="text" name="kvm_cpu" class="form-control " placeholder="">
                                        <div class="form-control-focus"></div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">内存</label>
                                <div class="col-md-9">
                                    <input readonly id="kvm_memory" type="text" name="kvm_memory" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">磁盘</label>
                                <div class="col-md-9">
                                    <input readonly id="kvm_disk" type="text" name="kvm_disk" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">系统</label>
                                <div class="col-md-9">
                                    <input readonly id="kvm_os" type="text" name="kvm_os" class="form-control " placeholder="">
                                    <div class="form-control-focus"></div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="form-group " style="text-align:center">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-9">
                                        <div id="kvm_task_div">
                                            <button type="button" id="kvm_suspend" name="kvm_suspend" class="btn green">
                                                    暂停
                                            </button>
                                            <button type="button" id="kvm_resume" name="kvm_resume" class="btn green">
                                                    运行
                                            </button>
                                            <button type="button" id="kvm_shutdown" name="kvm_shutdown" class="btn green">
                                                    关闭
                                            </button>
                                            <button type="button" id="kvm_reboot" name="kvm_reboot" class="btn green">
                                                    重启
                                            </button>
                                            <button type="button" id="kvm_undefine" name="kvm_undefine" class="btn green">
                                                    删除
                                            </button>
                                            <button type="button" id="kvm_clone" name="kvm_clone" class="btn green">
                                                    克隆
                                            </button>
                                            <button type="button" id="kvm_destroy" name="kvm_destroy" class="btn green">
                                                    断电
                                            </button>
                                            <button type="button" id="kvm_start" name="kvm_start" class="btn green">
                                                    开机
                                            </button>
                                        </div>
                                        <div id = "kvm_power_div">
                                            <button type="button" id="kvm_power" name="kvm_power" class="btn green">
                                                给电
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="static01" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">克隆虚拟机</h4>
            </div>
            <div class="panel-body">

                <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                    <div id="loading1" class="portlet-body"></div>
                    <div class="form-body" id="kvm_clone_div">
                        <div class="form-group">
                             <label class="col-md-3 control-label">虚拟机名称</label>
                            <div class="col-md-9">
                                <input readonly id="kvm_name_old" type="text" name="kvm_name_old" class="form-control"
                                       placeholder="">
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-md-3 control-label"><span style="color:red; ">*</span>新虚拟机名称</label>
                            <div class="col-md-9">
                                <input id="kvm_name_new" type="text" name="kvm_name_new" class="form-control"
                                       placeholder="">
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                            </button>
                            <button type="button" id="kvm_clone_save" name="kvm_clone_save" class="btn green">克隆</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="static02" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">新建虚拟机</h4>
            </div>
            <div class="panel-body">

                <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                    <div id="loading3" class="portlet-body"></div>
                    <div class="form-body" id="create_kvm_machine">
                        <div class="form-group">
                             <label class="col-md-3 control-label"><span style="color:red; ">*</span>选择模板</label>
                            <div class="col-md-9">
                                <select name="kvm_template" id="kvm_template" class="form-control">

                                </select>
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-md-3 control-label"><span style="color:red; ">*</span>虚拟机名称</label>
                            <div class="col-md-9">
                                <input id="kvm_template_name" type="text" name="kvm_template_name" class="form-control"
                                       placeholder="">
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                            </button>
                            <button type="button" id="kvm_machine_create" name="kvm_machine_create" class="btn green">新建</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="static03" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">给电</h4>
            </div>
            <div class="panel-body">

                <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                    <div id="loading4" class="portlet-body"></div>
                    <div class="form-body" id="ip_hostname_div">
                        <div class="form-group">
                            <label class="col-md-2 control-label"><span style="color:red; ">*</span>IP</label>
                            <div class="col-md-10">
                                <input id="alter_ip" type="text" name="alter_ip" class="form-control"
                                       placeholder="">
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-md-2 control-label"><span style="color:red; ">*</span>主机名</label>
                            <div class="col-md-10">
                                <input id="alter_hostname" type="text" name="alter_hostname" class="form-control"
                                       placeholder="">
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions ">
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                            </button>
                            <button type="button" id="kvm_power_save" name="kvm_power_save" class="btn green">给电</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="loading"  class="portlet-body"></div>

{% endblock %}

{% block script %}
<link href="/static/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />


<script src="/static/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ztree/js/jquery.ztree.core.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ztree/js/jquery.ztree.excheck.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="/static/pages/js/components-select2.min.js" type="text/javascript"></script>


<script src="/static/assets/global/plugins/jquery-knob/js/jquery.knob.js" type="text/javascript"></script>


{% endblock %}