 {% extends "base1.html" %}



{% block content %}


        <div style="height:10px"></div>


        <div  class="portlet-body">
            <div class="row">
                <div id="tree_2" class="col-md-4 tree-demo"> </div>
                <div  class="col-md-8" >
                    <div id="formdiv"  class="portlet light bordered" hidden>
                        <div class="portlet-title" >
                            <div class="caption font-green-sharp" >
                                <label id="title"  class="caption-subject bold uppercase" ></label>
                            </div>
                        </div>
                        <div class="portlet-body form" >
                            <form class="form-horizontal" id="org_form">{% csrf_token %}
                                <input type="text"  hidden  id="id" name="id">
                                <input type="text" hidden  id="pid" name="pid">
                                <input type="text"  hidden  id="mytype" name="mytype">
                                <div id="user" hidden>
                                    <div class="form-body">
                                        <div class="form-group"  style="margin-top:-20px">
                                            <label class="col-md-2 control-label">所属组织</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" class="form-control" id="pname" name="pname" placeholder="所属组织">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">姓名</label>
                                            <div class="col-md-10">
                                                <input id="fullname" type="text" name="fullname" class="form-control">
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">用户名</label>
                                            <div class="col-md-10">
                                                <input id="username" type="text" name="myusername" class="form-control">
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="form_control_1">密码</label>
                                            <div id="newpassword" {{newpassword}} class="col-md-10">
                                                <input id="password" type="password" name="password" class="form-control">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                            <div id="editpassword" {{editpassword}} class="col-md-10" style="padding-top:6px">
                                                <button id="changepassword" data-toggle="modal"  data-target="#static" type="button"  class="btn-link"  > 修改密码</button>
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">电话</label>
                                            <div class="col-md-10">
                                                <input  id="phone"  type="text" name="phone" class="form-control">
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">邮箱</label>
                                            <div class="col-md-10">
                                                <input id="email" type="text" name="email" class="form-control">
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">角色</label>
                                            <div class="col-md-10">
                                                <select  id="source" name="source" class="form-control select2" multiple>
                                                    {% for g in allgroup %}
                                                    <option value="{{ g.id }}">{{ g.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder"  style="margin-top:-30px;text-align:center">
                                        <button type="button" id="usersave" name="usersave" class="btn blue">保存</button>
                                    </div>
                                </div>
                                <div id="org" hidden>
                                    <div class="form-body"  >
                                        <div class="form-group"  style="margin-top:-20px">
                                            <label class="col-md-2 control-label">所属组织</label>
                                            <div class="col-md-10">
                                                <input readonly type="text" class="form-control" id="orgpname" name="orgpname" placeholder="所属组织">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">名称</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="orgname" name="orgname" placeholder="组织名称">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                         </div>
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label" for="form_control_1">组织说明</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" placeholder="最大限制2500个汉字" rows="3" id="remark" name="remark"  ></textarea>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                         </div>
                                    </div>
                                    <div class="form-actions noborder"  style="margin-top:-30px;text-align:center">
                                        <button type="button" id="orgsave" name="orgsave" class="btn blue">保存</button>
                                    </div>
                                </div>

                            </form>
                            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">修改密码</h4>
                                        </div>
                                        <div class="panel-body">
                                            <form class="bs-example form-horizontal activate-form" id="formactivate" >{% csrf_token %}
                                                 <div class="form-body"  >
                                                        <div class="form-group" >
                                                            <label class="col-md-3 control-label">新密码</label>
                                                            <div class="col-md-9">
                                                                <input id="password1" type="password" name="password1" class="form-control" placeholder="" value="">
                                                                <div class="form-control-focus"> </div>

                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label class="col-md-3 control-label" for="form_control_1">确认新密码</label>
                                                            <div class="col-md-9">
                                                                <input id="password2" type="password" name="password2" class="form-control" placeholder="" value="">
                                                                <div class="form-control-focus"> </div>

                                                            </div>
                                                         </div>
                                                 </div>
                                                <div class="form-actions " >
                                                    <div class="modal-footer">
                                                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                                                        <button type="button" id="savepassword" name="savepassword" class="btn green">保存</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


 {% endblock %}

{% block script %}
    <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/pages/js/components-select2.min.js" type="text/javascript"></script>

{% endblock %}
