{% extends "base1.html" %}

{% block content %}
    <header class="panel-heading" style="height:40px;border-color: white;background-color: white;">
        <div class="row" style="margin-top: -7px">
            <div class="col-md-2 col-lg-2" style="margin-top: 5px"></div>
            <div class="col-md-10 col-lg-10">

                <select class="form-control" id="process" name="process" style="width:250px; float:right;">
                    {% for process in processlist %}
                        <option value="{{ process.id }}"
                                {% if process_id == process.id %}selected{% endif %}>{{ process.name }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </header>

    <div style="height:10px"></div>
    <div class="portlet-body">
        <div class="row">
            <div id="tree_2" class="col-md-4 tree-demo"></div>
            <div class="col-md-8">
                <div id="formdiv" class="portlet light bordered" hidden>
                    <div class="portlet-title" id="error_tag">
                        <div class="caption font-green-sharp">
                            <label id="title" class="caption-subject bold uppercase"></label>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="bs-example form-horizontal activate-form"
                              id="formactivate">{% csrf_token %}
                            <div class="form-body">
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">步骤名称</label>
                                    <div class="col-md-9">
                                        <input hidden id="id" type="text" name="id">
                                        <input hidden id="pid" type="text" name="pid">

                                        <input id="name" autocomplete="off" type="text" name="name"
                                               class="form-control" placeholder="步骤名称">
                                        <div class="form-control-focus"></div>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">预计耗时(分钟)</label>
                                    <div class="col-md-9">
                                        <input id="time" type="number" name="time" class="form-control"
                                               placeholder="预计耗时">
                                        <div class="form-control-focus"></div>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">可跳过</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="skip" name="skip">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">需审批</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="approval" name="approval">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">是否算入RTO</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="rto_count_in" name="rto_count_in">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">角色</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="group" name="group">

                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">流程关闭时强制执行</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="force_exec" name="force_exec">
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                        <div class="form-control-focus"></div>

                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="col-md-3 control-label">备注</label>
                                    <div class="col-md-9">
                                        <input id="remark" autocomplete="off" type="text" name="remark"
                                               class="form-control" placeholder="灾备服务器地址等">
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">接口</label>
                                    <div class="col-md-9">
                                        <div id="context-menu2">
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a tabindex="-1" data-toggle="modal"
                                                       data-target="#static01">新增</a></li>
                                                <li><a tabindex="-1" data-toggle="modal"
                                                       data-target="#static01">修改</a></li>
                                                <li><a tabindex="-1">删除</a></li>
                                            </ul>
                                        </div>
                                        <button hidden id="edit" tabindex="-1" data-toggle="modal"
                                                data-target="#static01"></button>
                                        <select id="se_1" size="7" class="form-control"
                                                style="overflow-y:auto;">


                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-3 control-label">确认项</label>
                                    <div class="col-md-9">
                                        <div id="context-menu3">
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a tabindex="-1" data-toggle="modal"
                                                       data-target="#static02">新增</a></li>
                                                <li><a tabindex="-1" data-toggle="modal"
                                                       data-target="#static02">修改</a></li>
                                                <li><a tabindex="-1">删除</a></li>
                                            </ul>
                                        </div>
                                        <button hidden id="edit" tabindex="-1" data-toggle="modal"
                                                data-target="#static02"></button>
                                        <select id="se_2" size="7" class="form-control"
                                                style="overflow-y:auto;">


                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions noborder">
                                <div class="modal-footer">
                                    <button type="button" id="save" name="save" class="btn green">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="static01" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">接口管理</h4>
                    <input hidden id="scriptid" type="text" name="scriptid">
                    <input hidden id="script_instance_id" type="text" name="script_instance_id">
                </div>
                <div class="panel-body">
                    <div class="bs-example form-horizontal activate-form">
                        <div class="form-body">
                            <div class="form-group ">
                                <label class="col-md-2 control-label">接口编号</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-control">
                                            <input id="scriptcode" type="text" name="scriptcode" class="form-control "
                                                   placeholder="" readonly>
                                            <div class="form-control-focus"></div>
                                        </div>
                                        <span class="input-group-btn btn-right">
                                            <button class="btn green-haze dropdown-toggle" tabindex="-1"
                                                    data-toggle="modal" data-target="#static03">选择</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">接口名称</label>
                                <div class="col-md-10">
                                    <input id="script_name" type="text" name="script_name" class="form-control "
                                           placeholder="" readonly>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="interface_type_div">
                                <label class="col-md-2 control-label">接口类型</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="interface_type" name="interface_type" disabled>
                                        <option value="Commvault">Commvault</option>
                                        <option value="Linux">Linux</option>
                                        <option value="Windows">Windows</option>
                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="script_text_div" hidden>
                                <label class="col-md-2 control-label">脚本内容
                                    <i title="{% verbatim %}流程参数: {{}} 脚本参数: [[]] 主机参数: (()) {% endverbatim %}"
                                       class="fa fa-question-circle"></i></label>
                                <div class="col-md-10">
                                    <textarea name="script_text" id="script_text" class="form-control"
                                              rows="8" disabled></textarea>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="success_text_div" hidden>
                                <label class="col-md-2 control-label"><span
                                        style="color:red; "></span>SUCCESSTEXT</label>
                                <div class="col-md-10">
                                    <input id="success_text" type="text" name="success_text" class="form-control"
                                           placeholder="" readonly>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>

                            <div class="form-group" id="commv_interface_div" hidden>
                                <label class="col-md-2 control-label">类名</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="commv_interface" name="commv_interface" readonly>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="script_instance_name_div" hidden>
                                <label class="col-md-2 control-label"><span style="color:red; ">*</span>接口实例名称</label>
                                <div class="col-md-10">
                                    <input id="script_instance_name" type="text" name="script_instance_name"
                                           class="form-control">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="utils_id_div" hidden>
                                <label class="col-md-2 control-label"><span style="color:red; ">*</span>选择工具</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="utils" name="utils">

                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="origin_div" hidden>
                                <label class="col-md-2 control-label"><span style="color:red; ">*</span>选择源客户端</label>
                                <div class="col-md-10">
                                    <input type="text" id="origin_data" value="{{origin_data}}" hidden>
                                    <select class="form-control" id="origin" name="origin">
                                            <option value=""></option>
                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="host_id_div" hidden>
                                <label class="col-md-2 control-label"><span style="color:red; ">*</span>选择主机</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="host_id" name="host_id">
                                        {% for host in all_hosts_manage %}
                                            <option value="{{ host.id }}">{{ host.host_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="log_address_div" hidden>
                                <label class="col-md-2 control-label">日志地址</label>
                                <div class="col-md-10">
                                    <input id="log_address" type="text" name="log_address" class="form-control">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="sort_div" hidden>
                                <label class="col-md-2 control-label"><span style="color:red; "></span>排序</label>
                                <div class="col-md-10">
                                    <input id="sort" type="text" name="sort" class="form-control">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="script_instance_remark_div" hidden>
                                <label class="col-md-2 control-label" for="form_control_1">接口实例说明</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" placeholder="最大限制2500个汉字" rows="4"
                                              id="script_instance_remark"
                                              name="script_instance_remark">{{ table.node_remark }}</textarea>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group" id="process_div" hidden>
                                <div class="form-group" style="margin-bottom:0;">
                                    <label class="col-md-2 control-label" for="form_control_1"
                                           style="vertical-align: inherit;font-weight:bold;color: #2ab4c0">流程参数
                                    </label>
                                    <div class="col-md-10">
                                        <hr style="border-color:#2ab4c0;">
                                    </div>
                                </div>
                                <div id="process_param_div">
                                    <div class="row col-md-2" style="margin: 0;"></div>
                                    <div class="row col-md-10" style="margin: 0;">
                                        <!-- ajax -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="script_div" hidden>
                                <div class="form-group" style="margin-bottom:0;">
                                    <label class="col-md-2 control-label" for="form_control_1"
                                           style="vertical-align: inherit;font-weight:bold;color: #2ab4c0">脚本参数
                                    </label>
                                    <div class="col-md-10">
                                        <hr style="border-color: #2ab4c0;">
                                    </div>
                                </div>
                                <div id="script_param_div">
                                    <div class="row col-md-2" style="margin: 0;"></div>
                                    <div class="row col-md-10" style="margin: 0;">
                                        <!-- ajax -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="host_div" hidden>
                                <div class="form-group" style="margin-bottom:0;">
                                    <label class="col-md-2 control-label" for="form_control_1"
                                           style="vertical-align: inherit;font-weight:bold;color: #2ab4c0">主机参数
                                    </label>
                                    <div class="col-md-10">
                                        <hr style="border-color: #2ab4c0;">
                                    </div>
                                </div>
                                <div id="host_param_div">
                                    <div class="row col-md-2" style="margin: 0;"></div>
                                    <div class="row col-md-10" style="margin: 0;">
                                        <!-- ajax -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions ">
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                                </button>
                                <button type="button" id="scriptsave" name="scriptsave" class="btn green">保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="static03" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">选择接口</h4>
                </div>
                <div style="height:400px;overflow:auto; ">
                    <div id="script_tree" class="col-md-4 tree-demo"></div>

                    <p>
                    <p>
                    <p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                    <button type="button" id="load_script" name="load_script" class="btn green">载入</button>
                </div>
            </div>
        </div>
    </div>
    <div id="static02" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">确认项</h4>
                    <input hidden id="verify_id" type="text" name="verify_id">
                </div>
                <div class="panel-body">
                    <div class="bs-example form-horizontal activate-form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span
                                        style="color:red; ">*</span>名称</label>
                                <div class="col-md-10">
                                    <input id="verify_name" type="text" name="verify_name" class="form-control "
                                           placeholder="">
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>

                        </div>

                        <div class="form-actions ">
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                                </button>
                                <button type="button" id="verify_items_save" name="verify_items_save" class="btn green">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
        var treeData = {{tree_data|safe}};
        var origin_data = {{origin_data|safe}};
    </script>

    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>

    <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"
            type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"
            type="text/javascript"></script>
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"
            type="text/javascript"></script>

    <!--add -->
    <link href="/static/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js"
            type="text/javascript"></script>

    <script src="/static/assets/global/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js"
            type="text/javascript"></script>
    <script src="/static/new/js/slimscroll/jquery.slimscroll.min.js"></script>
{% endblock %}