{% extends "base1.html" %}
{% block content %}
    <style>
        #loading {
            height: 300px;
            width: 100%;
            background-image: url(../static/upload/loading.gif);
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div style="height:10px"></div>
    <div class="portlet-body">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover" id="schedule">
                        <thead>
                        <tr>
                            <th></th>
                            <th> 客户端</th>
                            <th> 类型</th>
                            <th> 备份集</th>
                            {#                            <th> 子客户端</th>#}
                            <th> 计划策略</th>
                            <th> 备份类型</th>
                            <th> 周期(模式)</th>
                            <th> 详情</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div id="loading" hidden></div>
                </div>
            </div>
        </div>
    </div>
    <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">计划详情</h4>
                </div>
                <div class="panel-body">
                    <form class="bs-example form-horizontal activate-form" id="formactivate">{% csrf_token %}
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">计划名称</label>
                                <div class="col-md-9">
                                    <input id="scheduleName" type="text" name="scheduleName" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-3 control-label" for="form_control_1">备份类型</label>
                                <div class="col-md-9">
                                    <input id="schedbackuptype" type="text" name="schedbackuptype" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-3 control-label" for="form_control_1">周期</label>
                                <div class="col-md-9">
                                    <input id="schedpattern" type="text" name="schedpattern" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">模式</label>
                                <div class="col-md-9">
                                    <input id="schedbackupday" type="text" name="schedbackupday" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">开始时间</label>
                                <div class="col-md-9">
                                    <input id="schednextbackuptime" type="text" name="schednextbackuptime" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-3 control-label" for="form_control_1">重复</label>
                                <div class="col-md-9">
                                    <input id="schedinterval" type="text" name="schedinterval" class="form-control" placeholder="" value="" readonly>
                                    <div class="form-control-focus"></div>

                                </div>
                            </div>
                        </div>
                        <div class="form-actions ">
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}
