.tab .nav-tabs{
    border:None;

}
.tab .nav-tabs li a{
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    border: none;
    color: #333;
    padding: 12px 22px;
}
.tab .nav-tabs li a i{
    margin-right:10px;
    color:#2ab4c0;

}
.tab .nav-tabs li:first-child a{
    border-bottom-left-radius:20px!important;
}

.tab .nav-tabs li:last-child a{
    border-bottom-right-radius:20px!important;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a i{
    border: 0 none;
    background:#2ab4c0;
    color:#fff;
}
.tab .nav-tabs li.active a:after{
    content: "";
    position: absolute;
    left: 45%;
    bottom: -14px;
    border: 7px solid transparent;
    border-top: 7px solid #2ab4c0;
}


/* Tabbed Styles */
.tabbed {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  margin-bottom: 68px;
  overflow: hidden;
  transition: border 250ms ease;
}
.tabbed>ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
    padding-left: 50px;
  list-style-type: none;
    border-bottom: 4px solid #2ab4c0;
}
.tabbed>ul * {
  margin: 0px;
  padding: 0px;
}
.tabbed>ul>li {
  display: block;
  float: left;
  padding: 10px 24px 8px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: #777;
    font-size: 14px;
}
.tabbed>ul>li:before,
.tabbed>ul>li:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  background-color: #FFF;
  transition: all 250ms ease;
}
.tabbed>ul>li:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
.tabbed>ul>li:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
.tabbed>ul>li.active {
  z-index: 3;
}
.tabbed>ul>li.active,
.tabbed>ul>li.active:before,
.tabbed>ul>li.active:after {
  background-color: #2ab4c0;
  color: #fff;
}
.tabbed>ul>li>a{
    color: #333;
}
.tabbed>ul>li.active>a,
.tabbed>ul>li.active>a i{
    border: 0 none;
    color:#fff;
}

/* Round Tabs */
.tabbed.round>ul>li {
  border-radius: 8px 8px 0 0;
}
.tabbed.round>ul>li:before {
  border-radius: 0 8px 0 0;
}
.tabbed.round>ul>li:after {
  border-radius: 8px 0 0 0;
}